
# Python

-> Python is compiled as well as interpreted language


-> SourceCode->[Compiler]-> ByteCode(PlatformIndependent)->[Interpreter(Python Virtual Machine,PVM)]->MachineCode


-> Python is actually called cpython because it is built upon C language.

## Python is built upon a philosophy

In [7]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
a=10

#### Output console visible

In [5]:
a+10

20

#### Actual printing

In [6]:
print(a+10)

20

# Comments

In [8]:
# single line comment

In [9]:
'''
multi
line
comments
'''

'\nmulti\nline\ncomments\n'

# Data Types

In [11]:
a=10
a

10

In [12]:
type(a)

int

In [13]:
a="hi"
type(a)

str

In [16]:
a=100.1
a

100.1

In [17]:
type(a)

float

In [18]:
### Type Cast
int(a)

100

In [19]:
a=True
type(a)

bool

In [20]:
b=False

In [21]:
a and b

False

In [22]:
a or b

True

In [23]:
a | b

True

In [24]:
a & b

False

In [26]:
name = 'Muskan'
print(name)
type(name)

Muskan

str

In [27]:
sname = 'Singhal'

In [28]:
name + sname

'MuskanSinghal'

In [30]:
name + str(1)

'Muskan1'

In [39]:
# Complex Numbers
x=1.0-2.5j
x

(1-2.5j)

In [40]:
a=x.real

In [41]:
b=x.imag

In [42]:
new = complex(a,b)
new

(1-2.5j)

In [43]:
# Dynamic Typing -> datatype automatically understood by compiler
a = 10
b = 'krish'

In [44]:
# Strong Typing -> 
a = 'Mus'
a+str(2402)

'Mus2402'

In [45]:
# String Formatting
a = 100
print('The value is:', a)

The value is: 100

In [50]:
fname = 'Muskan'
lname = 'Singhal'
print('The first name is {}, The last name is {}'.format(fname, sname))

The first name is Muskan, The last name is Singhal

In [51]:
print('The first name is {0}, The last name is {1}'.format(fname, sname))

The first name is Muskan, The last name is Singhal

In [52]:
print('The first name is {ff}, The last name is {ll}'.format(ll=sname, ff=fname))

The first name is Muskan, The last name is Singhal

In [74]:
print(f'The first name is {fname}, The last name is {lname}')

The first name is Muskan, The last name is Singhal

In [57]:
# INPUT type - always takes string datatype by default 
x = input('Enter number A : ')
y = input('Enter number B : ')
print(x+y)
print(int(x)+int(y))

Enter number A : 12
Enter number B : 12
1212
24

In [58]:
x = int(input('Enter number A : '))
y = int(input('Enter number B : '))
print(x+y)

Enter number A : 12
Enter number B : 12
24

# Control Flows

In [68]:
# if statement

val = input('Enter the number')
val = float(val)
val

Enter the number10

10.0

In [69]:
if val == 100:
    print("The number is 100!")
elif val < 100:
    print("The number is less than 100!")
else:
    print("The number is greater than 100!")

The number is less than 100!

In [70]:
# Check even-odd
if val%2:
    print("The number is odd!")
else:
    print("The number is even!")

The number is even!

In [71]:
# for loop
my_list = [1,2,3,4,5,6]
for i in my_list:
    print(i**2)

1
4
9
16
25
36

In [72]:
my_sum = 0
for i in my_list:
    my_sum += i
my_sum

21

In [79]:
# while loop
i = 0
while(i<=10):
    print(i)
    i+=1
    if (i==9):
        break

0
1
2
3
4
5
6
7
8

In [84]:
#break
i = 1
while(i<=10):
    if i==5:
        break
    print(i)
    i+=1

1
2
3
4

In [91]:
#continue
i = 0
while(i<=10):
    i+=1
    if i>=5:
        continue
    print(i)

1
2
3
4

## Python Operators

- Logical : and, or, not
- Equality : is, is not, ==, !=
- Comparison : <, <=, >, >=
- Arithmetic : +, -, *, /, //, %
- Bitwise

In [92]:
# Logical Operators -> and, or , not

In [93]:
type(True)

bool

In [94]:
type(False)

bool

In [95]:
bool(1)

True

In [96]:
bool(0)

False

In [97]:
bool(9)

True

In [98]:
bool(-1)

True

In [99]:
a = True
b = False

False

In [103]:
a and b

False

In [104]:
a or b

True

In [105]:
not a

False

In [106]:
not b

True

In [110]:
age = int(input('Enter the age : '))
if age<35 and age>=18:
    print('Middle Aged!')

Enter the age : 33
Middle Aged!

In [111]:
age = int(input('Enter the age : '))
if age<35 or age>=18:
    print('Middle Aged!')

Enter the age : 90
Middle Aged!

In [112]:
# Equality Operators -> is, is not, ==, !=

a = 'Mus'
b = 'Musk'
a==b

False

In [113]:
a is b

False

In [114]:
x = 'Mus'
y = 'Mus'
print(id(x))
print(id(y))

4396131696
4396131696

In [118]:
# CHECKS IF BOTH VARIABLES POITING TO THE SAME MEMORY LOCATION
x is y

True

In [117]:
# CHECKS IF VALUE IN BOTH THE VARIABLES IS SAME
x==y

True

In [133]:
# even if collections have same values, they point to different locations if defined differently

my_list = [1,2,3]
your_list = [1,2,3]
print('DIFFERENT locations:')
print(id(my_list))
print(id(your_list))

my_list = [1,2,3]
your_list = my_list
print('\nSAME locations:')
print(id(my_list))
print(id(your_list))

DIFFERENT locations:
4397062016
4395203712

SAME locations:
4395193472
4395193472

In [124]:
# CHECKS IF BOTH VARIABLES POITING TO THE SAME MEMORY LOCATION
my_list is your_list

False

In [125]:
# CHECKS IF VALUE IN BOTH THE VARIABLES IS SAME
my_list==your_list

True

In [126]:
# CHECKS IF VALUE IN BOTH THE VARIABLES IS SAME
my_list!=your_list

False

In [129]:
a=1
b=a
print(id(a))
print(id(b))

4314916056
4314916056

In [137]:
# Comparison Opeartors: <, <=, >, >=

marks = int(input('Enter your marks: '))
if marks>=35:
    print("pass")
    if marks>=50 and marks<=75:
        print("first class")
else:
    print("fail")

Enter your marks: 99
pass

In [176]:
# Arithmetic : +, -, *, /, //, %, **

a=55
b=44
print(a+b)
print(a-b)
print(a/b) #true division
print(a//b) #integer division
print(a%b)
print(a*b)

99
11
1.25
1
11
2420

# Python Number Methods

In [139]:
abs(-1)

1

In [140]:
abs(-1.234234)

1.234234

In [4]:
import math

In [145]:
math.ceil(9.9)

10

In [147]:
math.floor(9.9)

9

In [148]:
math.ceil(-9.9)

-9

In [149]:
math.floor(-9.9)

-10

In [152]:
math.exp(2)   #since e = 2.71828 & so e**2 = 7.3890

7.38905609893065

In [153]:
math.exp(-2)

0.1353352832366127

In [130]:
# abs() -> always return data type of output as per the data type of input, also works with complex numbers
# math.fabs() -> irrespective of data input, always return in floating points, fails with complex numbers

4397062016
4397062016

In [159]:
abs(-2)

2

In [158]:
abs(-2.0)

2.0

In [164]:
abs(1+2j)

2.23606797749979

In [160]:
math.fabs(-2)

2.0

In [161]:
math.fabs(-2.0)

2.0

In [165]:
math.fabs(1+2j)

TypeError: must be real number, not complex

In [166]:
math.log(20) #by default log to the base e

2.995732273553991

In [167]:
math.log10(20)

1.3010299956639813

In [168]:
math.log2(20)

4.321928094887363

In [169]:
math.log1p(20)

3.044522437723423

In [170]:
max(1,2)

2

In [171]:
min(3,1)

1

In [178]:
math.pow(-2,-3)

-0.125

In [175]:
math.pow(2,3)

8.0

In [174]:
2**3

8

In [177]:
math.sqrt(16)

4.0

In [180]:
math.sqrt(9)

3.0

In [183]:
math.sin(180)

-0.8011526357338304

In [184]:
math.cos(0)

1.0

In [185]:
math.cos(90)

-0.4480736161291702

In [6]:
math.hypot(2,3) #hypotenuse [h^2 = a^2 + b^2]

3.605551275463989

In [9]:
# Returns the fractional & integer parts of number in a two-item tuple -> (fractional, integer)
# Both parts have the same sign as the number. 
# The integer part is returned as a float.

math.modf(3.444)

(0.44399999999999995, 3.0)

In [10]:
math.modf(-3.444)

(-0.44399999999999995, -3.0)

In [17]:
#program to check prime numbers

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    flag = True
    for j in range(2,i):
        if i%j == 0:
            flag = False
        break  
    if flag:
        print(f'{i} is a prime number.')
    else:
        print(f'{i} is NOT a prime number.')

1 is a prime number.
2 is a prime number.
3 is a prime number.
4 is NOT a prime number.
5 is a prime number.
6 is NOT a prime number.
7 is a prime number.
8 is NOT a prime number.
9 is a prime number.
10 is NOT a prime number.

In [35]:
#program to check max of 3 numbers

a, b, c = map(int, input('Enter 3 comma-separated numbers: ').split(','))

print(max(a,b,c))

if a>b:
    if a>c:
        max_num = a
    else:
        max_num = c
else:
    if b>c:
        max_num = b
    else:
        max_num = c
    
print(max_num)

Enter 3 comma-separated numbers: 2,3,4
4
4

# Python Data Structures

| Feature          | String                          | List                              | Tuple                             | Set                               | Dictionary                       |
|------------------|---------------------------------|-----------------------------------|-----------------------------------|-----------------------------------|----------------------------------|
| Type             | Immutable                       | Mutable                           | Immutable                         | Mutable (but elements are immutable) | Mutable                         |
| Syntax           | Enclosed in quotes ('', "")     | Enclosed in square brackets []    | Enclosed in parentheses ()        | Enclosed in curly braces {} or `set()` for an empty set | Enclosed in curly braces {} with key-value pairs |
| Order            | Ordered                         | Ordered                           | Ordered                           | Unordered                         | Unordered until Python 3.7, ordered by insertion from Python 3.7+ |
| Indexing         | Supported (character access)    | Supported (element access)        | Supported (element access)        | Not supported                     | Not supported (access via keys)  |
| Duplicate Values | Allowed (repeated characters)   | Allowed                           | Allowed                           | Not allowed                       | Not allowed in keys, allowed in values |
| Element Type     | Characters (strings)            | Any type                          | Any type                          | Any immutable type                | Any immutable type for keys, any type for values |
| Mutability       | Cannot be changed after creation| Can change, add, remove elements  | Cannot be changed after creation  | Can add or remove elements, but elements themselves cannot be modified | Can add, remove, or change values associated with keys |
| Use Case         | Text data                       | General purpose, ordered collection| Fixed data, faster than lists for some operations | Unique elements, membership testing, set operations | Key-value pairs, fast lookup by key |

In [ ]:
#Str -> "" -> immutable, ordered
#Lists -> [] -> mutable, ordered, heterogenous, subscriptable
#Sets -> {} -> mutable fully(elements not mutable), unordered but sorted, no duplicate elements, non-subscriptable
#Dictionary -> {key1:value1, key2:value2, ..} -> mutable, unordered, subscriptable with key names
#Tuples -> () -> immutable, ordered, ## Python Data Structures Comparison

In [37]:
#complete overwritting possible in strings
my_str = 'Mus'
print(my_str)
my_str = 'Kan'
print(my_str)
type(my_str)

Mus
Kan

str

In [38]:
my_str[0]

'K'

In [41]:
#strings are immutable
my_str[0] = 'k'

TypeError: 'str' object does not support item assignment

In [46]:
type([])

list

In [51]:
lst = list()
type(lst)

list

In [52]:
lst = list((1,2,'Mus',2.2))
print(lst)
type(lst)

[1, 2, 'Mus', 2.2]

list

In [63]:
my_list = [1,2,3,'Mus','Kan','1.2']
print(my_list)
my_list = [1,3]
print(my_list)
type(my_list)

[1, 2, 3, 'Mus', 'Kan', '1.2']
[1, 3]

list

In [64]:
my_list[1]

3

In [65]:
#lists are mutable
my_list[1] = 4

#add element at the last with append
my_list.append(5)
print(my_list)

[1, 4, 5]

In [66]:
len(my_list)

3

In [68]:
min(my_list)

1

In [69]:
max(my_list)

5

In [70]:
#nested list
my_list.append(['Hello','Bye'])
my_list

[1, 4, 5, ['Hello', 'Bye']]

In [71]:
my_list[3][1]

'Bye'

In [72]:
my_list[3][0]

'Hello'

In [73]:
my_list[:]

[1, 4, 5, ['Hello', 'Bye']]

In [75]:
my_list[1:3]

[4, 5]

In [77]:
my_list[1:]

[4, 5, ['Hello', 'Bye']]

In [79]:
my_list[:-1]

[1, 4, 5]

In [81]:
my_list[1::2] #jump 2

[4, ['Hello', 'Bye']]

In [82]:
#insert: add element anywhere(not just at the end with append)
my_list.append(99)
print(my_list)
my_list.insert(2,88)
print(my_list)

[1, 4, 5, ['Hello', 'Bye'], 99]
[1, 4, 88, 5, ['Hello', 'Bye'], 99]

In [83]:
#extend: add multiple elements, avoiding them to become a nested list
my_list.append(['new','elements'])
print(my_list)
my_list.extend(['new','elements'])
print(my_list)

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements']]
[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements'], 'new', 'elements']

In [88]:
lst = [1,2,3]
print(lst)
print(sum(lst))

[1, 2, 3]
6

In [89]:
print(lst*2)
for i in lst:
    print(i*2)

[1, 2, 3, 1, 2, 3]
2
4
6

In [93]:
print(my_list)

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements'], 'new']

In [94]:
#pop: removes last element
my_list.pop()

'new'

In [95]:
print(my_list)

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements']]

In [67]:
#iterate over lists
for i in my_list:
    print(i)

1
4
5

## SHALLOW COPY

In [102]:
# copying with different address

my_list1 = my_list.copy()
print(my_list)
print(id(my_list))
print(my_list1)
print(id(my_list1))

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements']]
4421998592
[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements']]
4421401792

In [103]:
# SHALLOW COPY

my_list1.append(0)  # ONLY APPENDING IN my_list1; no effect on my_list
print(my_list)
print((my_list1))

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements']]
[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements'], 0]

## DEEP COPY

In [104]:
# copying with same address

my_list1 = my_list
print(my_list)
print(id(my_list))
print(my_list1)
print(id(my_list1))

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements']]
4421998592
[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements']]
4421998592

In [105]:
# DEEP COPY

my_list1.append(0) # ONLY APPENDING IN my_list1; SAME effect on my_list
print(my_list)
print((my_list1))

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements'], 0]
[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements'], 0]

In [106]:
my_list.append(1)
print(my_list)
my_list.count(1)

[1, 4, 88, 5, ['Hello', 'Bye'], 99, ['new', 'elements'], 0, 1]

2

In [107]:
my_list.reverse()

In [108]:
print(my_list)

[1, 0, ['new', 'elements'], 99, ['Hello', 'Bye'], 5, 88, 4, 1]

In [110]:
# index(x) -> returns index of first occurance of x
my_list.index(1)

0

In [113]:
lst = [2,3,1]
print(lst)
lst.sort()
print(lst)

[2, 3, 1]
[1, 2, 3]

In [114]:
# remove(x) -> removes the first occurance of x
print(my_list)
my_list.remove(0)
print(my_list)

[1, 0, ['new', 'elements'], 99, ['Hello', 'Bye'], 5, 88, 4, 1]
[1, ['new', 'elements'], 99, ['Hello', 'Bye'], 5, 88, 4, 1]

In [ ]:
my_list.clear

In [118]:
# sets
type({})

dict

In [120]:
type({1,'Muskan'})

set

In [122]:
my_set = set()
type(my_set)

set

In [129]:
#lists can have dulicate elements, but when casted to a set, no duplicacy

my_list = [1,2,2]
my_set = set(my_list)
my_set

{1, 2}

In [130]:
print(set([1,2,3,4,5,5,6,7,7,7,7]))

{1, 2, 3, 4, 5, 6, 7}

In [132]:
my_set = {1,2,3,1,2,2,2}
my_set

{1, 2, 3}

In [134]:
for i in my_set:
    print(i)

1
2
3

In [135]:
my_set.add('Mus')
my_set

{1, 2, 3, 'Mus'}

In [136]:
my_set.add(0)
my_set

{0, 1, 2, 3, 'Mus'}

In [144]:
set1 = {1,2}
set2 = {1,5,6}
print(set1)
print(set2)

{1, 2}
{1, 5, 6}

In [145]:
print(set1.intersection(set2))
print(set2.intersection(set1))
print(set1)
print(set2)

{1}
{1}
{1, 2}
{1, 5, 6}

In [146]:
print(set1.intersection_update(set2))
print(set2.intersection_update(set1))
print(set1)
print(set2)

None
None
{1}
{1}

In [143]:
print(set1)
print(set2)

{1}
{1}

In [150]:
set1 = {1,2}
set2 = {1,5,6}
print(f'set1 = {set1}')
print(f'set2 = {set2}')
print(set1.difference(set2))
print(set2.difference(set1))
print(set1)
print(set2)
print(set1.difference_update(set2))
print(set2.difference_update(set1))
print(set1)
print(set2)

set1 = {1, 2}
set2 = {1, 5, 6}
{2}
{5, 6}
{1, 2}
{1, 5, 6}
None
None
{2}
{1, 5, 6}

In [151]:
set1.issuperset(set2)

False

In [152]:
set1.issubset(set2)

False

In [153]:
#dictionary
type({1:'Muskan'})

dict

In [154]:
type(dict())

dict

In [155]:
my_dict = dict(fname='Muskan',lname='Singhal',age=26)
my_dict

{'fname': 'Muskan', 'lname': 'Singhal', 'age': 26}

In [158]:
my_dict['age']

26

In [159]:
my_dict.items()

dict_items([('fname', 'Muskan'), ('lname', 'Singhal'), ('age', 26)])

In [160]:
my_dict.keys()

dict_keys(['fname', 'lname', 'age'])

In [161]:
my_dict.values()

dict_values(['Muskan', 'Singhal', 26])

In [165]:
for i in my_dict: #by default gives keys
    print(i)

fname
lname
age

In [166]:
for i in my_dict.values(): #gives values
    print(i)

Muskan
Singhal
26

In [168]:
for i in my_dict.items(): #gives key:value pairs
    print(i)

('fname', 'Muskan')
('lname', 'Singhal')
('age', 26)

In [169]:
my_dict['new'] = 'value'

In [170]:
for i in my_dict.items(): #gives key:value pairs
    print(i)

('fname', 'Muskan')
('lname', 'Singhal')
('age', 26)
('new', 'value')

In [175]:
#Nested Dictionary

car1 = {'Mercedes': 1960}
car2 = {'Audi': 1970}
car3 = {'Ambassador': 1980}

new_dict = {'car1': car1, 'car2': car2, 'car3': car3}
new_dict

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [176]:
new_dict['car1']['Mercedes']

1960

In [177]:
new_dict.values()

dict_values([{'Mercedes': 1960}, {'Audi': 1970}, {'Ambassador': 1980}])

In [180]:
my_tuple = tuple()
my_tuple

()

In [181]:
type(my_tuple)

tuple

In [182]:
my_tuple = ('1', 2)
my_tuple

('1', 2)

In [184]:
my_tuple.count(2)

1

In [187]:
my_tuple.index('1')

0

In [190]:
my_tuple = list(my_tuple)
my_tuple

['1', 2]